# Build results
bin/
obj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio cache/options
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
TestResults/
*.coverage
*.coveragexml
coverage.cobertura.xml

# NuGet
*.nupkg
*.snupkg
.nuget/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store
